:root {
    --col-width: calc(100% / 12);
    --container-space: 120px;
    --container-width: 1264px;
    --arrow-size: 40px;
}

.container {
    max-width: var(--container-width);
    padding: var(--container-space) 16px;
    margin: 0 auto;
}